{% extends 'base.html.twig' %}
{% block body %}
    {{ include('default/navigation_bar.html.twig') }}
    <div class="text-center">
        <div class="col-md-8">
            <h1>{{ order.name }}</h1>
            <div class="col-md-6"><h3>{{ order.supplierName }}</h3></div>
            <div class="col-md-6"> <h3><a href="{{ order.supplierMenuLink }}" target="_blank">View menu</a></h3></div>
            <div class="col-md-12">{{ order.description }}</div>
        </div>
        <div class="col-md-4">
            {# TODO: display address on google map #}
            <img src="http://i.stack.imgur.com/yEshb.gif"/>
        </div>
        <div>
            <div class="col-md-4"><b>Buying time: </b>{{ order.eventDate|date("Y-m-d H:i") }}</div>
            <div class="col-md-4"><b>Closing after: </b>{{ closing_after }}</div>
            {% set address = 'Didlaukio 59, Vilnius' %}
            <div class="col-md-4"><b>Delivery address: </b>{{ order.address }}</div>
        </div>
        {% for product in products %}
            {{ include('default/product.html.twig') }}
        {% endfor %}
    </div>
    <div id="results"><h2>here are results</h2></div>
    <div class="new-product-box col-md-12">
        {#<div class="new-product-info">
            {{ include('default/product.html.twig') }}
        </div>#}
        <div class="new-product-form">
            {{include('default/create_product.html.twig')}}
        </div>
    </div>
    <button class="button btn btn-success btn-new-product">New product</button>
{% endblock %}
