{% extends 'base.html.twig' %}

{% block body %}
    {{ include('default/navigation_bar.html.twig') }}
    <div class="container text-center">
        <div class="col-md-8">
            <h1>Order number {{ order_id }}</h1>
            {% set supplier_name = 'Cili-Pica' %}
            <div class="col-md-6"><h3>{{ supplier_name }}</h3></div>
            {% set supplier_menu_link = 'http://cilipica.lt/menu.html' %}
            <div class="col-md-6"> <h3>{{ supplier_menu_link }}</h3></div>
            {% set description = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.' %}
            <div class="col-md-12">{{ description }}</div>
        </div>
        <div class="col-md-4">
            <img src="http://i.stack.imgur.com/yEshb.gif"/>
        </div>
        <div>
            <div class="col-md-4"><b>Buying time:</b> YYYY-MM-DD HH:MM</div>
            <div class="col-md-4"><b>Closing after:</b> DD days</div>
            <div class="col-md-4"><b>Delivery address:</b> Didlaukio 59, Vilnius</div>
        </div>
        {% for i in range(1, 4) %}
            <div class="col-md-12 product-info">
                <h1>Product name | Feature of a product</h1>
                <div class="col-md-4">
                    Price: 5 EU
                    <button class="btn btn-default btn-group-justified"> - </button>
                </div>
                <div class="col-md-4 product-quantity">
                    {% set count = 0 %}
                    <input type="text" class="form-control text-center" value="{{ count }}">
                </div>
                <div class="col-md-4">
                    product-link
                    <button class="btn btn-default btn-group-justified"> + </button>
                </div>
            </div>
        {% endfor %}

    </div>


{% endblock %}
