{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
       <div class="col-md-8 welcome">
           {% for flash_message in app.session.flashbag.get('notice') %}
               <div class="flash flash-notice">
                   {{ flash_message }}
               </div>
           {% endfor %}
           {% for flash_message in app.session.flashbag.get('error') %}
               <div class="flash flash-error">
                   {{ flash_message }}
               </div>
           {% endfor %}
          <img class="logo" src="{{ asset('img/logo_large.png') }}"/>
          <h1>Konkorezis&trade; - lightweight solution for collaborative food shopping lists!</h1>
          <br>
          <p>Get your parties' snacks list in a breeze:</p>
          <ul>
              <li>
                  Fast creation of an open order. Share it to friends via URL!
              </li>
              <li>
                  Don't see your dish in list? Shortly describe your desired products and add it.
              </li>
              <li>
                  Your product is already in a list? Great! Just tap "+" / "-" to change its amount.
              </li>
          </ul>
          <p>That's it! Register and start using Konkorezis&trade;!</p>
          <hr/>
       </div>
       <div class="col-md-4 widget">
              <a href="{{  path('fos_user_security_login') }}" style="font-size: 30px;">Login</a><br><br><br>
              <a href="{{  path('fos_user_registration_register') }}" style="font-size: 18px;">Dont have an account? Register here.</a>
       </div>
</div>

{% endblock %}
{% block stylesheets %}
<style>
.logo{
       height:200px;
       width:200px;
}
.welcome{
       margin-top:100px;
}
</style>
{% endblock %}