{% extends 'base.html.twig' %}

{% block body %}
    {{ include('default/navigation_bar.html.twig') }}
    <div class="container">
        <h2>Created orders</h2>
        {% for order in created_orders %}
            <div class="col-xs-12 col-sm-6 col-md-3 summary-container">
                <div class="summary-content-created">
                    <h2>{{ order.name|length > 36 ? order.name|slice(0, 36) ~ '...' : order.name }}
                    </h2>
                    <p>{{ order.description|length > 62 ? order.description|slice(0, 62) ~ '...' : order.description }}</p>
                    <p><b>Buying at: </b>{{ order.eventDate|date("Y-m-d H:i") }}</p>
                    <p><b>Delivery address: </b>{{ order.address|length > 45 ? order.address|slice(0, 45) ~ '...' : order.address }}</p>
                    <a class="btn btn-default btn-group-justified" href="{{ path('orders_details', {'order_id': order.id }) }}">Details</a>
                    <a class="btn btn-default btn-group-justified btn-summary" href="{{ path('orders_summary', {'order_id': order.id }) }}">Summary</a>
                    <a class="btn btn-default btn-group-justified btn-summary" href="{{ path('orders_account', {'order_id': order.id }) }}">Account</a>
                    <a class="btn btn-default btn-group-justified btn-summary" href="{{ path('order_delete', {'order_id': order.id }) }}">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="container">
        <h2>Joined orders</h2>
        {% for order in joined_orders %}
            {{ include('default/order.html.twig') }}
        {% endfor %}
    </div>

    <div class="container text-center">
        <br>
        {% if page_number != 1%}<a class="btn btn-danger text-center" href="{{ path('orders_open', {'page_number': page_number-1, 'per_page' : per_page  }) }}">Previous page</a>{% endif %}
        {% if created_orders|length == 12 or joined_orders|length == 12 %}<a class="btn btn-success text-center" href="{{ path('orders_open', {'page_number': page_number+1, 'per_page' : per_page }) }}">Next page</a>{% endif %}
        <br>
    </div>

{% endblock %}
