<div class="container">
    <div class="col-sm-3 col-md-2"><img class="logo" src="{{ asset('img/logo.png') }}"/></div>
    <div class="col-sm-9 col-md-10">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                    <ul class="nav navbar-nav nav-tabs nav-justified">
                        <li><a href="{{ path('orders_open') }}">Open orders</a></li>
                        <li><a href="{{ path('orders_create') }}">Create order</a></li>
                        <li><a href="{{ path('user_history') }}">My history</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                    </ul>
            </div>
        </nav>
        {% for flash_message in app.session.flashbag.get('notice') %}
            <div class="alert alert-info">
                {{ flash_message }}
            </div>
        {% endfor %}
    </div>
</div>