<div class="col-md-12 product-info">
    <h1>{{ product.title }}</h1>
    <div class="col-md-4">
        Price: {{ product.price }} €
        <button class="btn btn-default btn-group-justified" onclick="decreaseQuantity({{ order.id }}, {{ product.id }});"> - </button>
    </div>
    {# TODO: handle manual quantity insertion into field #}
    <div class="col-md-4 product-quantity">
        <input id="product_quantity_{{ product.id }}" type="text" class="form-control text-center" value="{{ product.getUserProducts[0].quantity }}">
    </div>
    <div class="col-md-4">
        <a href="{{ product.link }}" target="_blank">View product</a>
        <button class="btn btn-default btn-group-justified" onclick="increaseQuantity({{ order.id }}, {{ product.id }});"> + </button>
    </div>
</div>